In [74]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
from sklearn.linear_model import LinearRegression
from statsmodels.formula.api import ols
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
import plotly.express as px
from scipy import stats
from scipy.stats import chi2_contingency
from sklearn.compose import ColumnTransformer
from statsmodels.formula.api import ols
import statsmodels.api as sm

# First iteration

In [75]:
first_it = pd.read_pickle("data/first_iteration.pkl")
first_it.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16512 entries, 0 to 16511
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          16512 non-null  int64
 1   longitude           16512 non-null  float64
 2   latitude            16512 non-null  float64
 3   housing_median_age  16512 non-null  float64
 4   total_rooms         16512 non-null  float64
 5   total_bedrooms      16512 non-null  float64
 6   population          16512 non-null  float64
 7   households          16512 non-null  float64
 8   median_income       16512 non-null  float64
 9   median_house_value  16512 non-null  float64
 10  ocean_proximity     16512 non-null  object
dtypes: float64(9), int64(1), object(1)
memory usage: 1.4+ MB

In [76]:
# define X, y
y = first_it["median_house_value"]
X = first_it.drop(["median_house_value","ocean_proximity"], axis=1)

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=.3, 
                                                    random_state=1)

In [78]:
log_model = LinearRegression()

log_model.fit(X_train, y_train)

# Evaluate the model with the test set
log_model.score(X_test, y_test)

0.6311871393336708

In [79]:
cv_results = cross_validate(log_model, X, y, cv=5)
cv_results["test_score"].mean()

0.6348249131619211

# Second iteration

In [80]:
second_it = pd.read_pickle("data/second_iteration.pkl")
second_it.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16512 entries, 0 to 16511
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          16512 non-null  float64
 1   longitude           16512 non-null  float64
 2   latitude            16512 non-null  float64
 3   housing_median_age  16512 non-null  float64
 4   total_rooms         16512 non-null  float64
 5   total_bedrooms      16512 non-null  float64
 6   population          16512 non-null  float64
 7   households          16512 non-null  float64
 8   median_income       16512 non-null  float64
 9   median_house_value  16512 non-null  float64
 10  ocean_proximity     16512 non-null  object
dtypes: float64(10), object(1)
memory usage: 1.4+ MB

In [81]:
# define X, y
y = second_it["median_house_value"]
X = second_it.drop(["median_house_value","ocean_proximity"], axis=1)

In [82]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=.3, 
                                                    random_state=1)

In [83]:
log_model.fit(X_train, y_train)

# Evaluate the model with the test set
log_model.score(X_test, y_test)

0.6311871393336698

In [84]:
cv_results = cross_validate(log_model, X, y, cv=5)
cv_results["test_score"].mean()

0.6348249131619182

# Third iteration

In [85]:
third_it = pd.read_pickle("data/third_iteration.pkl")
third_it.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15262 entries, 0 to 16511
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          15262 non-null  float64
 1   longitude           15262 non-null  float64
 2   latitude            15262 non-null  float64
 3   housing_median_age  15262 non-null  float64
 4   total_rooms         15262 non-null  float64
 5   total_bedrooms      15262 non-null  float64
 6   population          15262 non-null  float64
 7   households          15262 non-null  float64
 8   median_income       15262 non-null  float64
 9   median_house_value  15262 non-null  float64
 10  ocean_proximity     15262 non-null  object
dtypes: float64(10), object(1)
memory usage: 1.4+ MB

In [86]:
# define X, y
y = third_it["median_house_value"]
X = third_it.drop(["median_house_value","ocean_proximity"], axis=1)

In [87]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=.3, 
                                                    random_state=1)

In [88]:
log_model.fit(X_train, y_train)

# Evaluate the model with the test set
log_model.score(X_test, y_test)

0.6076476528019652

In [89]:
cv_results = cross_validate(log_model, X, y, cv=5)
cv_results["test_score"].mean()

0.6334931888672133

# Fourth iteration

In [90]:
fourth_it = pd.read_pickle("data/fourth_iteration.pkl")

In [91]:
# define X, y
y = fourth_it["median_house_value"]
X = fourth_it.drop(["median_house_value","ocean_proximity"], axis=1)

In [93]:
cv_results = cross_validate(log_model, X, y, cv=5)
cv_results["test_score"].mean()

0.6334931888672133